[Unit]
Description=SCM Deployer Agent
After=network.target
StartLimitIntervalSec=1h
StartLimitBurst=6

[Service]
StandardOutput=journal
StandardError=journal
ExecStart=$executablePath --start-server -c $configFilePath
User=$AuthorizedUser
Group=$AuthorizedUser
Type=simple
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
