<!-- Generic modal -->
<div id="modal" class="modal hidden">
  <div class="modal-content">
    <p id="modal-text"></p>
    <input type="text" id="modal-input" class="modal-input hidden" placeholder="Name" />
    <div id="modal-input-container" class="modal-input-container hidden"></div>
    <div id="modal-checkbox-container" class="modal-checkbox-container hidden"></div>
    <div id="modal-select-container" class="modal-select-container hidden"></div>
    <button id="modal-confirm" class="btn">Confirm</button>
    <button id="modal-cancel" class="btn">Cancel</button>
  </div>
</div>