### Apparmor Profile for the Secure Configuration Management Controller
## This is a very locked down profile made for Debian systems
## Variables - add/modify if required
@{profilelocation}=$aaProfPath
@{exelocation}=$executablePath
@{repolocation}=$repositoryPath
@{home}={/root,/home}
@{configdir}=@{home}/*/.ssh/config
@{pid}={[1-9],[1-9][0-9],[1-9][0-9][0-9],[1-9][0-9][0-9][0-9],[1-9][0-9][0-9][0-9][0-9],[1-9][0-9][0-9][0-9][0-9][0-9],[1-4][0-9][0-9][0-9][0-9][0-9][0-9]}

## Profile Begin
profile SCMController @{exelocation} flags=(enforce attach_disconnected) {
  # Receive signals
  signal receive set=(stop term kill quit int urg),
  # Send signals to self
  signal send set=(urg int) peer=SCMController,

  # Capabilities
  network netlink raw,
  network inet stream,
  network inet6 stream,
  unix (create connect send receive getattr) type=stream,
  unix (create connect bind send getattr) type=dgram,

  ## Startup Configurations needed
  owner @{configdir}/** rw,

  ## Program Accesses
  /sys/kernel/mm/transparent_hugepage/hpage_pmd_size r,
  /usr/share/zoneinfo/** r,
  owner /proc/*/mountinfo r,

  ## Repository access
  # allow read/write for files in repository (write is needed for seeding operations)
  @{repolocation}/{,**} rw,
  # allow locking in git's directory (for commit rollback on early error)
  @{repolocation}/.git/** k,
}