##########################
# Global Config Settings #
##########################
#  Ignore SCMP Host Configuration Options
IgnoreUnknown           PasswordVault,PasswordRequired,DeploymentState,IgnoreTemplates,UniversalDirectory,GroupDirs,GroupTags,IgnoreDirectories
#  Store any login/sudo passwords in an encrypted file here
PasswordVault           ~/.ssh/scmpc.vault
#  Directory Name that contains files relevant to all hosts
UniversalDirectory      "UniversalConfs"
#  Group Directory Names for Universal Configs to be deployed to all hosts tagged with that group
#GroupDirs              UniversalConfs_NGINX,UniversalConfs_MONAGENT
#  Directory Names to ignore in deployment git repository
IgnoreDirectories       Templates,Extras
#
################# EXAMPLE HOSTS CONFIGURATION
#
#Host Web01
#        Hostname       192.168.10.2
#       GroupTags       UniversalConfs_NGINX,UniversalConfs_MONAGENT
#       DeploymentState offline
#Host Proxy01
#       Hostname        192.168.10.3
#       GroupTags       UniversalConfs_MONAGENT
#Host DNS01
#        Hostname       ns1.domain.com
#        ConnectTimeout 15
#Host PBX
#        Hostname       192.168.10.4
#       User            root
#       DeploymentState offline
#Host WWW
#        Hostname       192.168.20.15
#       Port            2222
#       GroupTags       UniversalConfs_MONAGENT
#Host Mail
#        Hostname       mx01.domain.com
#       IdentityFile    ~/.ssh/appservers.key
#Host Squid
#        Hostname       192.168.20.22
#Host DB01
#        Hostname       psql01.domain.com
#       Port            2202
#       StrictHostKeyChecking no
#       DeploymentState offline
#Host SSO
#        Hostname       sso.domain.com
#       PasswordRequired yes
#       IgnoreUniversal yes
##########################
# Global Device Settings #
##########################
Host * 
        # Host Settings
        User                            deployer
        Port                            22
        PreferredAuthentications        password,keyboard-interactive,publickey
        IdentityFile                    "~/.ssh/example.key"
        IdentitiesOnly                  yes
        #  General Settings
        UserKnownHostsFile              ~/.ssh/known_hosts
        StrictHostKeyChecking           ask
        ForwardX11                      no
        ForwardX11Trusted               no
        Tunnel                          no
        ForwardAgent                    no
        GSSAPIAuthentication            no
        HostbasedAuthentication         no
